.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;

}

.liNav {
    float: right;
    border-left: 1px solid #777777;
}

.liNav:last-child {
    border-left: none;
}

.liNavA {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #777777;
}

.liNavALeft {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 2em;
}

.liNavA:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.mainNav {
    background-color: white;
    border-bottom: 1px solid #777777;
    padding-top: 10px;
}

.mainContainer {
    margin: 25px auto;
    padding: 14px 16px;
    width: 960px;
    background-color: #ffffff;
}

.portContainer {
    margin: 25px auto;
    padding: 14px 16px;
    width: 960px;
    background-color: #ffffff;
}

html {
    background-image: url("../images/morocco-blue/morocco-blue.png");
    background-size: cover;

}

h1 {
    color: #4aaaa5;
}

.headshot {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.portContainer {
    display: inline-block;
    padding: 0;
}
.portBox {
    width: 300px;
    height: 250px;
    position: relative;
    float: left;
    border: 5px solid #ffffff;
    margin-right: 30px;
    margin-bottom: 45px;
}

.portBox:hover {
    transition: .5s;
    border: 5px solid #4aaaa5;   
}

.portHead {
    position: absolute;
    bottom: 10px;
    background: #4aaaa5;
    text-align: center;
    padding: 15px 0;
    color: #ffffff;
    width: 100%;

}

input {
    width: 100%;
    margin: 15px 0;
}

.bigBox {
    height: 200px;

}

form {
    padding: 15px 0;
}

.submit {
    padding: 5px 15px;
    text-align: center;
    width: 75px;
    background: #4aaaa5;
    color: white;
}

.submit:hover {
    background: #ffffff;
    border: 1px solid #4aaaa5;
    color: #4aaaa5;
    transition: .25s;
    cursor: pointer;
}

.clearFix::after {
    content: " ";
    display: block;
    clear: both;
  }
