.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;

}

.liNav {
    float: right;
}

.liNavA {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #777777;
}

.liNavALeft {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liNavA:hover {
    background-color: #fffa00;
}

.body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

